# TP6

### `Resolver usando Pandas`

Resolver los ejercicios del TP3 utilizando la librer√≠a Pandas.

### Ejercicio 1: Cargar Datos de ventas.

El archivo datos.dat contiene el registro de las ventas realizadas.

Tiene un formato de ancho fijo:
- `fecha`:    10 lugares
- `producto`: 30 lugares
- `precio`:   10 lugares
- `cantidad`:  5 lugares

Hacer una funcion que cargue los datos en un DataFrame de Pandas.

In [51]:
import pandas as pd

def cargar_datos():
    tama√±o_columna = [10, 30, 10, 5]
    df= pd.read_fwf('datos.dat', widthas=tama√±o_columna, names=['fecha', 'producto', 'precio', 'cantidad'])
    return df

datos = cargar_datos()
datos

                   fecha  producto  precio  cantidad
0      2024-08-27Mirinda      1510      14       NaN
1      2024-08-27Mirinda      1560      12       NaN
2      2024-08-28Torasso       940       8       NaN
3   2024-08-29Pepsi Cola      1210      10       NaN
4      2024-08-30Mirinda      1520       1       NaN
5      2024-09-01Mirinda      1550      15       NaN
6       2024-09-01Sprite       810       4       NaN
7    2024-09-02Coca Cola      1100       4       NaN
8   2024-09-02Pepsi Cola      1220      13       NaN
9      2024-09-02Torasso       910       5       NaN
10     2024-09-02Torasso       920       3       NaN
11   2024-09-03Coca Cola      1020       8       NaN
12     2024-09-03Mirinda      1570       7       NaN
13     2024-09-03Mirinda      1590       2       NaN
14  2024-09-04Pepsi Cola      1220      13       NaN
15     2024-09-05Mirinda      1500       3       NaN
16  2024-09-05Pepsi Cola      1300       5       NaN
17   2024-09-06Coca Cola      1080       1       NaN
18      2024-09-06Sprite       860      12       NaN
19     2024-09-06Torasso       930       3       NaN
20   2024-09-07Coca Cola      1080      14       NaN
21      2024-09-07Sprite       870      13       NaN
22   2024-09-08Coca Cola      1040      10       NaN
23     2024-09-08Mirinda      1580       2       NaN
24  2024-09-08Pepsi Cola      1240       9       NaN
25     2024-09-09Mirinda      1500       3       NaN
26      2024-09-09Sprite       850       9       NaN
27     2024-09-10Mirinda      1590       8       NaN
28  2024-09-10Pepsi Cola      1250      12       NaN
29      2024-09-11Sprite       810       6       NaN
30      2024-09-11Sprite       820      14       NaN
31   2024-09-12Coca Cola      1080       4       NaN
32     2024-09-13Mirinda      1580       5       NaN
33  2024-09-13Pepsi Cola      1250      13       NaN
34   2024-09-14Coca Cola      1080      15       NaN
35  2024-09-14Pepsi Cola      1270      14       NaN
36   2024-09-15Coca Cola      1100       1       NaN
37     2024-09-15Mirinda      1500      13       NaN
38      2024-09-15Sprite       870      14       NaN
39     2024-09-15Torasso       900      13       NaN

### Ejercicio 2: Calcular el total de ventas.
Hacer una funci√≥n que sume los importes vendidos (precio * cantidad) y las cantidades.

In [52]:
def calcular_totales(datos):
    datos['importe'] = datos['precio'] * datos['cantidad']
    totalidad_importe = datos['importe'].sum()
    totalidad_cantidad = datos ['cantidad'].sum()
    return totalidad_importe, totalidad_cantidad

importe, cantidad = calcular_totales(datos)

importe, cantidad = calcular_totales(datos)

print(f"Las ventas fueron de ${importe:2.2f} en {cantidad} unidades")

Las ventas fueron de $0.00 en 0.0 unidades

### Ejercicio 3: Listar las unidades vendidas.
Listar cu√°ntas unidades se vendieron en total para cada producto

In [53]:
def unidades_vendidas(datos):
    resultado = datos.groupby('producto')['cantidad'].sum().reset_index()
    resultado.colums = ['producto', 'Cantidad Vendida']
    print(resultado)

unidades_vendidas(datos)

    producto  cantidad
0        810       0.0
1        820       0.0
2        850       0.0
3        860       0.0
4        870       0.0
5        900       0.0
6        910       0.0
7        920       0.0
8        930       0.0
9        940       0.0
10      1020       0.0
11      1040       0.0
12      1080       0.0
13      1100       0.0
14      1210       0.0
15      1220       0.0
16      1240       0.0
17      1250       0.0
18      1270       0.0
19      1300       0.0
20      1500       0.0
21      1510       0.0
22      1520       0.0
23      1550       0.0
24      1560       0.0
25      1570       0.0
26      1580       0.0
27      1590       0.0

C:\Users\user\AppData\Local\Temp\ipykernel_5628\2314981804.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  resultado.colums = ['producto', 'Cantidad Vendida']

###  Ejercicio 4: Listar el precio promedio por producto.
Hacer un listado del precio promedio por producto.

In [54]:
def precio_promedio(datos):
    resultado = datos.groupby('producto')['precio'].mean().reset_index()
    resultado.columns = ['Producto', 'Precio Promedio']
    resultado['Precio Promedio'] = resultado['Precio Promedio'].round(2)
    print(resultado)

precio_promedio(datos)

    Producto  Precio Promedio
0        810             5.00
1        820            14.00
2        850             9.00
3        860            12.00
4        870            13.50
5        900            13.00
6        910             5.00
7        920             3.00
8        930             3.00
9        940             8.00
10      1020             8.00
11      1040            10.00
12      1080             8.50
13      1100             2.50
14      1210            10.00
15      1220            13.00
16      1240             9.00
17      1250            12.50
18      1270            14.00
19      1300             5.00
20      1500             6.33
21      1510            14.00
22      1520             1.00
23      1550            15.00
24      1560            12.00
25      1570             7.00
26      1580             3.50
27      1590             5.00

### Ejercicio 5: Ranking de productos
Realizar un listado de los 3 productos m√°s vendidos ordenados por la cantidad de unidades vendidas (ordenadas de mayor a menor)

In [55]:
def ranking_productos(datos, top=3):
    resultado = datos.groupby('producto')['cantidad'].sum().reset_index()
    resultado = resultado.sort_values(by='cantidad', ascending=False).head(top)
    print(resultado)

ranking_productos(datos)

   producto  cantidad
0       810       0.0
1       820       0.0
2       850       0.0

### Ejercicio 6: Listar las ventas por mes
Realizar un listado del total de unidades vendidas por producto separado por mes.

In [68]:
def ventas_por_mes(datos):
    
    datos = datos[datos['fecha'].apply(lambda x: isinstance(x, str) and len(x) == 10)]

   
    datos['fecha'] = pd.to_datetime(datos['fecha'], format='%Y-%m-%d', errors='coerce')


    datos = datos.dropna(subset=['fecha'])

   
    datos['mes'] = datos['fecha'].dt.month

   
    resultado = datos.groupby(['producto', 'mes'])['cantidad'].sum().unstack(fill_value=0)

   
    resultado.columns = [f'Mes{col}' for col in resultado.columns]

   
    resultado = resultado.reset_index()

    print(resultado)


ventas_por_mes(datos)

Empty DataFrame
Columns: [producto]
Index: []

### Ejercicio 7: Informe general

Mostrar un listado de productos ordenados alfabeticamente que contengan el precio promedio, la cantidad de unidades vendidas y el importe total vendido para cada producto

In [69]:
def resumen_ventas(datos):
    precio_promedio = datos.groupby('producto')['precio'].mean().reset_index()
    
    unidades_vendidas = datos.groupby('producto')['cantidad'].sum().reset_index()

    datos['importe'] = datos['precio'] * datos['cantidad']
    importe_total = datos.groupby('producto')['importe'].sum().reset_index()

    resumen = pd.merge(precio_promedio, unidades_vendidas, on= 'producto')
    resumen = pd.merge(resumen, importe_total, on ='producto')

    resumen.columns = ['Producto', 'Precio Promedio', 'Unidades vendidas', 'Importe Total']

    resumen = resumen.sort_values(by='Producto').reset_index(drop=True)

    print(resumen)
    

resumen_ventas(datos)

    Producto  Precio Promedio  Unidades vendidas  Importe Total
0        810         5.000000                0.0            0.0
1        820        14.000000                0.0            0.0
2        850         9.000000                0.0            0.0
3        860        12.000000                0.0            0.0
4        870        13.500000                0.0            0.0
5        900        13.000000                0.0            0.0
6        910         5.000000                0.0            0.0
7        920         3.000000                0.0            0.0
8        930         3.000000                0.0            0.0
9        940         8.000000                0.0            0.0
10      1020         8.000000                0.0            0.0
11      1040        10.000000                0.0            0.0
12      1080         8.500000                0.0            0.0
13      1100         2.500000                0.0            0.0
14      1210        10.000000                0.0            0.0
15      1220        13.000000                0.0            0.0
16      1240         9.000000                0.0            0.0
17      1250        12.500000                0.0            0.0
18      1270        14.000000                0.0            0.0
19      1300         5.000000                0.0            0.0
20      1500         6.333333                0.0            0.0
21      1510        14.000000                0.0            0.0
22      1520         1.000000                0.0            0.0
23      1550        15.000000                0.0            0.0
24      1560        12.000000                0.0            0.0
25      1570         7.000000                0.0            0.0
26      1580         3.500000                0.0            0.0
27      1590         5.000000                0.0            0.0

## `Resolver usando NumPy`
## Resolver el ejercicio 2 del tp1 usando NumPy

### Ejercicio 8

Escribe una funci√≥n en Python que encuentre los valores de `a`, `b`, y `c` para que la funci√≥n cuadr√°tica `f(x) = a x^2 + b x + c` pase exactamente por los siguientes puntos:

| x  | y  |
|---:|---:|
|  0 |  0 |
|  1 |  8 |
|  2 | 12 |
|  3 | 12 |
|  5 |  0 |

### Requisitos:
- La funci√≥n debe explorar posibles valores de `a`, `b`, y `c` utilizando un m√©todo de prueba y error.
- Debe devolver los valores que hagan que la diferencia entre la funci√≥n `f(x)` y los valores medidos `y` sea exactamente cero para cada punto.

> **Pista**: Los valores de `a`, `b`, y `c` son n√∫meros peque√±os.

La idea es implementar el mismo algoritmo que se uso en el TP1 pero usando NumPy en lugar de Python puro.

In [70]:
import numpy as np

def f(x, coeficientes):
    a, b, c = coeficientes
    return a * x**2 + b * x + c

def error(y, y_pred):
    return y - y_pred

def buscar_coeficientes():
    X = np.array([0, 1, 2, 3, 5])
    Y = np.array([0, 8, 12, 12, 0])

    a, b, c = 0, 0, 0
    coeficiente = np.array([a, b, c])

    for a in range(-10, 11):
        for b in range(-10, 11):  
            for c in range(-10, 11):
                coeficiente = np.array([a, b, c])
                y_pred = f(X, coeficiente)  
                if np.all(error(Y, y_pred) == 0):
                    return coeficiente  

    return None

coeficientes = buscar_coeficientes()
coeficientes

array([-2, 10,  0])

### Ejercicio 9: Resolver el ejercicio 3 del TP1 usando NumPy
Buscar los coeficientes de la funci√≥n que minimice la suma de los cuadrados de las diferencias entre los valores medidos y los valores de la funci√≥n.

1. Crear un array con los coeficientes elegidos al azar (usar `randint(-10,10,3)`).
2. Calcular el valor de la funci√≥n y el error correspondiente.
3. Mientras que el error sea mayor a 1:
    1. Definir nuevos coeficientes agreg√°ndoles un peque√±o valor al azar a los coeficientes actuales (aprendizaje = 0.001).
    2. Si el error para los nuevos coeficientes es menor que el anterior, reemplazar los coeficientes actuales por los nuevos.

In [71]:
import numpy as np
from numpy.random import randint

def f(x, coeficientes):
    a,b,c = coeficientes
    return a*x**2 + b*x + c

def error(y, y_pred):
    return np.sum((y - y_pred)**2)

X = np.array([0, 1, 2, 3, 5])
Y = np.array([0, 8,12,11, 1]) # Observar que no son los mismos valores que en el ejemplo anterior

def buscar_coeficientes():
    coeficientes = np.random.randint(-10, 10, size=3)
    tasa_aprendisaje = 0.001
    error_actual = error(Y, f(X, coeficientes))

    while error_actual > 1:
        nuevos_coeficientes = coeficientes +np.random.randn(3) * tasa_aprendisaje

        nuevo_error = error(Y, f(X, nuevos_coeficientes))

        if nuevo_error < error_actual:
            coeficientes = nuevos_coeficientes
            error_actual = nuevo_error

    return coeficientes

coeficientes = buscar_coeficientes()
print(f"Los coeficientes son {coeficientes} y el error es {error(Y, f(X, coeficientes))}")


coeficientes = buscar_coeficientes()
coeficientes

Los coeficientes son [-1.78109692  8.96148857  0.62449667] y el error es 0.99953869114403

array([-1.7783805 ,  8.9555387 ,  0.61957622])